LoadPlugin write_rsyslog

<Plugin write_rsyslog>
   <Node "collectd">
     Host "{{ collectd_write_rsyslog_host }}"
     Port "{{ collectd_write_rsyslog_port }}"
     Prefix "collectd"
     AlwaysAppendDS false
     HostTags "\"ovirt\": {\"host_id\":\"{{ ovirt_vds_vds_id }}\",\"engine_fqdn\":\"{{ ovirt_engine_fqdn }}\", \"cluster_name\":\"{{ ovirt_vds_cluster_name }}\", \"ipaddr4\":\"{{ ansible_default_ipv4.address }}\"}"
   </Node>
 </Plugin>
