# This is an example file for variables required for origin on oVirt installation
# Please update the below variables

# Path to preallocated partition to be used for elasticsearch persistent storage
# ovirt_elasticsearch_mounted_storage_path: /var/lib

# engine_insecure:

# Path to engine public ssh key
engine_ssh_public_key_file_path:

# Path to engine ca file. No default. Default to `/etc/pki/ovirt-engine/ca.pem`
# engine_cafile:

# The DNS zone the VMs created by this role will have. No default. For example: example.com
public_hosted_zone:

# Engine FQDN
engine_fqdn:

# Engine URL. Default is "https://'engine_fqdn'/ovirt-engine/api".
# engine_url:

# Engine user
# Please update the engine_password in the secure_vars.yaml file.
engine_user:

# Path to Engine CA certificate file. Default is '/etc/pki/ovirt-engine/ca.pem'
# engine_cafile:

# The cluster in which the metrics store installer and VMs will be created. Defaults to 'Default'.
# ovirt_cluster_name:

# Storage domain to use for the Metrics store installation.
openshift_ovirt_storage_domain_name:

# The name of the metrics store installer that will be created for the installation.
# Defaults to 'openshift-ovirt-bastion'.
# openshift_ovirt_bastion_machine_name:

# Creates a record in /etc/hosts. Defaults to 'false'.
# Relevant only for all-in-one installation
# create_host_entry:

# The following variables determine the number of VMs to create.
# The default is an all-in-one master installation,
# which can ususally support up to ~50 host with -20 VMs per host.
# openshift_ovirt_all_in_one: true
# number_of_openshift_master_vms: 1
# number_of_openshift_node_vms: 0
# number_of_openshift_etcd_vms: 0
# number_of_openshift_lb_vms: 0

# The size of the disks that will be created for Elasticsearch. Defaults to 500GiB.
# elasticsearch_disk_size: 500GiB

# Additional mandatory parameters for Red Hat Virtualization:

# Note: Basic RHV subscription includes an entitlement for 1 Metrics store all-in-one installation.
# In order to have more than 1, an additional OpenShift subscription is required.

# The url of RHEL Guest image that will be used for creating the VMs.
# To get the qcow_url go to:
# https://access.redhat.com/downloads/content/69/ver=/rhel---7/7.6/x86_64/product-software
# Get the link of Red Hat Enterprise Linux XXX KVM Guest Image from the download button.
# WARNING - the link expires after some time.
# qcow_url:

# User for Red Hat Subscription Manager
# Please update the rhsub_pass in the secure_vars.yaml file.
rhsub_user:

# RHEL and OpenShift subscriptions pool ID
# See documentation on how to get pool IDs
rhsub_pool:

# User for the container registry. Default is 'registry.redhat.io'
# Usually the same as the user for accessing the Customer Portal
# oreg_url: registry.redhat.io

# User for the container registry, usually the same as the password for accessing the Customer Portal
# Please update the oreg_auth_password in the secure_vars.yaml file.
oreg_auth_user:
