# This is an example file for variables required for Origin on oVirt installation
# Please update the below variables

# Please update the below variables if you wish to install Origin on oVirt.
# This README is NOT relevant for installing oVirt Metrics store based on OpenShift Logging

# The variables that are not commented out are mandatory.
# The other variables already have a default, but it can be updated,
# by uncommenting the variable and updating its value.

# Path to preallocated partition to be used for elasticsearch persistent storage
# ovirt_elasticsearch_mounted_storage_path: /var/lib

# engine_insecure: false

# Path to engine public ssh key
engine_ssh_public_key_file_path:

# The DNS zone the VMs created by this role will have. No default. For example: example.com
public_hosted_zone:

# Engine FQDN
# You can use engine_url instead of this variable, by uncommenting and updating its value.
engine_fqdn:

# Engine URL. Default is "https://{{ engine_fqdn }}/ovirt-engine/api".
# engine_url: 'https://{{ engine_fqdn }}/ovirt-engine/api'

# Engine user
# Please update the engine_password in the secure_vars.yaml file.
engine_user:

# Path to Engine CA certificate file. Default is '/etc/pki/ovirt-engine/ca.pem'
# engine_cafile: /etc/pki/ovirt-engine/ca.pem

# The cluster in which the metrics store installer and VMs will be created. Defaults to 'Default'.
# ovirt_cluster_name: Default

# Storage domain to use for the Metrics store installation.
openshift_ovirt_storage_domain_name:

# The name of the metrics store installer that will be created for the installation.
# Defaults to 'openshift-ovirt-bastion'.
# openshift_ovirt_bastion_machine_name: openshift-ovirt-bastion

# Creates a record in /etc/hosts. Defaults to 'false'.
# Relevant only for all-in-one installation
# create_host_entry: false

# The following variables determine the number of VMs to create.
# The default is an all-in-one master installation,
# which can ususally support up to ~50 host with -20 VMs per host.
# openshift_ovirt_all_in_one: true
# number_of_openshift_master_vms: 1
# number_of_openshift_node_vms: 0
# number_of_openshift_etcd_vms: 0
# number_of_openshift_lb_vms: 0

# The size of the disks that will be created for Elasticsearch. Defaults to 500GiB.
# elasticsearch_disk_size: 500GiB

# Additional mandatory parameters for Red Hat Virtualization:

# Note: Basic RHV subscription includes an entitlement for 1 Metrics store all-in-one installation.
# In order to have more than 1, an additional OpenShift subscription is required.

# The url of RHEL Guest image that will be used for creating the VMs.
# To get the qcow_url go to:
# https://access.redhat.com/downloads/content/69/ver=/rhel---7/7.6/x86_64/product-software
# Get the link of Red Hat Enterprise Linux XXX KVM Guest Image from the download button.
# WARNING - the link expires after some time.
qcow_url:

# User for Red Hat Subscription Manager
# Please update the rhsub_pass in the secure_vars.yaml file.
rhsub_user:

# RHEL and OpenShift subscriptions pool ID
# See documentation on how to get pool IDs
rhsub_pool:

# User for the container registry. Default is 'registry.redhat.io'
# Usually the same as the user for accessing the Customer Portal

# URL of the container registry. Default is 'registry.redhat.io'
# oreg_url: registry.redhat.io

# User for the container registry.
# Usually the same as the user for accessing the Customer Portal
oreg_auth_user:
