# This is an example file for oVirt metrics configuration.
#
# To run the oVirt metrics configuration playbook, copy this file
# to /etc/ovirt-engine-metrics/config.yml.d/ directory,
# rename it to have yml suffix and edit it with your environment details.


# Environment name. Can be used to identify data collected in a single central
# store sent from more than one oVirt engine.
# Maximum field length is 49 characters.
# For more details see:
# https://www.ovirt.org/develop/release-management/features/metrics/metrics-store-installation/#ovirt-metrics-store-setup
ovirt_env_name: engine

# Address or hostname (FQDN) of the Elasticsearch server host.
fluentd_elasticsearch_host: elasticsearch-server.example.com

# Path to preallocated partition to be used for elasticsearch persistent storage
# ovirt_elasticsearch_mounted_storage_path: /var/lib
