# This is an example file for the Metrics Store host configuration.
#
# To run the oVirt metrics configuration playbook, copy this file
# to '/etc/ovirt-engine-metrics/config.yml.d/', rename it 'config.yml',
# and update the parameters. All parameters are mandatory.

# Environment name. Used to identify data collected in a single central
# store sent from more than one oVirt engine.
# Use the following convention:
#  - Include only alphanumeric characters and hyphens ( "-" ).
#  - Name cannot begin with a hyphen or a number, or end with a hyphen.
#  - Maximum of 49 characters. Wildcard patterns (e.g. ovirt-metrics*) cannot be used.
# If you are installing oVirt Metrics Store, 'ovirt_env_name' must match 'ovirt_env_name' in metrics-store-config.yml.
# Default is 'engine'.
ovirt_env_name: engine

# Address or hostname (FQDN) of the Elasticsearch server host
# If you use oVirt metrics store you can run:
# oc get routes
# and use the logging-es HOST/PORT
# Example:
# elasticsearch_host: es.{{ public_hosted_zone }}
elasticsearch_host:
