# This is an example file for the oVirt Metrics Store installation configuration
# Update the following variables to install oVirt Metrics Store based on OpenShift Logging

# The variables that are not commented out are mandatory.
# The other variables already have a default, but it can be updated,
# by uncommenting the variable and updating its value.

# Environment name. Can be used to identify data collected in a single central
# store sent from more than one oVirt engine.
# Maximum field length is 49 characters.
# For more details see:
# https://www.ovirt.org/develop/release-management/features/metrics/metrics-store-installation/#ovirt-metrics-store-setup
ovirt_env_name: engine

# Path to preallocated partition to be used for elasticsearch persistent storage
# ovirt_elasticsearch_mounted_storage_path: /var/lib

# The DNS zone of the Metrics Store virtual machines. No default.
# For example:
# If public_hosted_zone: example.com, then 1st master metrics store VM address will be set to `master0.example.com`.
# All metrics and logs will be sent to these VMs.
public_hosted_zone:

# It is optional to add a suffix to the metrics store VM. By default, this variable is not set (optional).
# Example:
# If 'public_hosted_zone' is 'example.com' and 'openshift_ovirt_machine_suffix' is set to 'prod',
# then the metrics store VM name will be 'master-prod0.example.com'.
# openshift_ovirt_machine_suffix:

# Engine FQDN
# You can use engine_url instead of this variable, by uncommenting and updating its value.
engine_fqdn:

# Engine URL. Default is "https://{{ engine_fqdn }}/ovirt-engine/api".
# engine_url: 'https://{{ engine_fqdn }}/ovirt-engine/api'

# Engine user
# Please update engine_password in the secure_vars.yaml file.
engine_user:

# Path to Engine CA certificate file. Default is '/etc/pki/ovirt-engine/ca.pem'
# engine_cafile: /etc/pki/ovirt-engine/ca.pem

# The cluster in which the metrics store installer and VMs will be created.
ovirt_cluster_name:

# Storage domain for the Metrics store installation
openshift_ovirt_storage_domain_name:

# Name of the Metrics Store installer virtual machine that will be created
# Default is 'metrics-store-installer'
# openshift_ovirt_bastion_machine_name: metrics-store-installer

# Creates a record in '/etc/hosts'. Default is 'false'
# Relevant only for all-in-one installation
# create_host_entry: false

# The size of the disks that will be created for Elasticsearch. Default is 500GiB.
# elasticsearch_disk_size: 500GiB

# For Origin installation you can set qcow_url to:
# 'https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2c'
#
# URL for downloading the RHEL guest image to create the virtual machines
# To copy the qcow_url go to:
# https://access.redhat.com/downloads/content/69/ver=/rhel---7/7.6/x86_64/product-software
# In the Product Software tab, Download the `Red Hat Enterprise Linux KVM Guest Image`
# to your engine machine and set the qcow_url to your local path.
# Example: qcow_url: file:///path/to/image
qcow_url:

# Additional mandatory parameters for Red Hat Virtualization:

# NOTE: Basic RHV subscription includes an entitlement for a single Metrics Store all-in-one installation.
# Each additional Metrics Store virtual machine requires an additional OpenShift subscription.

# The following is relevant when using Satellite. For aditional details please see:
# https://docs.openshift.com/container-platform/3.11/install/disconnected_install.html#disconnected-installing-openshift

# Custom hostname for Red Hat Satellite server
# Example: sattelite.server.example.com
rhsub_server:

# URL of the container registry. Default is '{{ rhsub_server }}:5000/{{ rhsub_orgid }}-ocp311-openshift3_ose-${component}:${version}'
# oreg_url:

# Organization ID for Red Hat Subscription Manager
rhsub_orgid:

# In Satellit UI go to
# Products->Your OCP Product Name->Repositories->Your rhel7/etcd repository->Container Image Tags->Your Tag Name->Lifecycle Environments->Published At
osm_etcd_image:
