# This is an example file for the oVirt Metrics Store installation configuration
# Update the following variables to install oVirt Metrics Store based on OpenShift Logging

# The variables that are not commented out are mandatory.
# The other variables already have a default, but it can be updated,
# by uncommenting the variable and updating its value.

# Environment name. Can be used to identify data collected in a single central
# store sent from more than one oVirt engine.
# Maximum field length is 49 characters.
# For more details see:
# https://www.ovirt.org/develop/release-management/features/metrics/metrics-store-installation/#ovirt-metrics-store-setup
ovirt_env_name: engine

# Path to preallocated partition to be used for elasticsearch persistent storage
# ovirt_elasticsearch_mounted_storage_path: /var/lib

# The DNS zone of the Metrics Store virtual machines. No default.
# For example:
# If public_hosted_zone: example.com, then 1st master metrics store VM address will be set to `master0.example.com`.
# All metrics and logs will be sent to these VMs.
public_hosted_zone:

# Engine FQDN
# You can use engine_url instead of this variable, by uncommenting and updating its value.
engine_fqdn:

# Engine URL. Default is "https://{{ engine_fqdn }}/ovirt-engine/api".
# engine_url: 'https://{{ engine_fqdn }}/ovirt-engine/api'

# Engine user
# Please update engine_password in the secure_vars.yaml file.
engine_user:

# Path to Engine CA certificate file. Default is '/etc/pki/ovirt-engine/ca.pem'
# engine_cafile: /etc/pki/ovirt-engine/ca.pem

# The cluster in which the metrics store installer and VMs will be created.
ovirt_cluster_name:

# Storage domain for the Metrics store installation
openshift_ovirt_storage_domain_name:

# Name of the Metrics Store installer virtual machine that will be created
# Default is 'metrics-store-installer'
# openshift_ovirt_bastion_machine_name: metrics-store-installer

# Creates a record in '/etc/hosts'. Default is 'false'
# Relevant only for all-in-one installation
# create_host_entry: false

# The size of the disks that will be created for Elasticsearch. Default is 500GiB.
# elasticsearch_disk_size: 500GiB

# For Origin installation you can set qcow_url to:
# 'https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2c'
#
# URL for downloading the RHEL guest image to create the virtual machines
# To copy the qcow_url go to:
# https://access.redhat.com/downloads/content/69/ver=/rhel---7/7.6/x86_64/product-software
# In the Product Software tab, right-click the Download Now button of the
# `Red Hat Enterprise Linux KVM Guest Image` and copy the link.
# WARNING: The link will expire. Copy the link when you are ready to run the playbook.
qcow_url:

# Additional mandatory parameters for Red Hat Virtualization:

# Note: Basic RHV subscription includes an entitlement for a single Metrics Store all-in-one installation.
# Each additional Metrics Store virtual machine requires an additional OpenShift subscription.

# User for Red Hat Subscription Manager
# Please update rhsub_pass in the secure_vars.yaml file.
rhsub_user:

# RHEL and OpenShift subscriptions pool ID
# See documentation on how to get pool IDs
rhsub_pool:

# URL of the container registry. Default is 'registry.redhat.io/openshift3/ose-${component}:${version}'
# oreg_url:

# User for the container registry.
# Usually the same as the user for accessing the Customer Portal
oreg_auth_user:
