# This is an example file for the oVirt Metrics secure variables


# Elasticsearch server password for basic HTTP authentication.
# If there are several servers the password should be the same.
logging_elasticsearch_password: